header {
    display: flex;
    justify-content: space-between;
    padding: 0px 182px;
}
img{
    padding-top: 15px;
}
.container-navegacao {
    display: flex;
    gap: 50px;
}

.navegacao-interna {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navegacao-interna > li {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color:#A7A7A7;
    padding-top: 10px;
}       

.navegacao-externa {
    gap: 20px;
    display: flex;
    align-self: flex-end;
    padding-bottom: 20px;
}

.container-apresentacao {
    padding: 0 174px;
    margin: 90px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.texto-apresentacao {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: #4d3951 ;
    font-family: Arial, Helvetica, sans-serif;
}
.meu-nome {
 background-image: linear-gradient( 
    #530053,
    #ef1899
    );
 background-clip: text;
-webkit-background-clip: text;
color: transparent;
}

.logo01{
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background-image: linear-gradient( 
    #530053,
    #ef1899
    );
 background-clip: text;
-webkit-background-clip: text;

}

.foto-gradient{   
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url(./profile-pic\ \(2\).png),
     radial-gradient( 
        circle at top,
        #530053,
        #ef1899
        ); ;
border: 10px solid transparent;
background-clip: content-box, border-box;
background-origin: border-box;
background-size: cover;
}

body{
    text-align: center;
}

h1, p{
    font-family: Arial, Helvetica, sans-serif;
    color: #4d3951;
    text-align: center;
    text-align: center;
}

